@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hangfire Realm Sample</h1>
    <p>Visit the <a href="/hangfire">dashboard</a> to view Hangfire jobs.</p>
</div>
